<!DOCTYPE html>
<html lang="en">
<head>
	<title>BORG: Book Reviews</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/bootstrap.min.css">
	<link rel="stylesheet" href="/borgsite.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
	<div class="btn-group btn-group-justified" role="group" aria-label="topbar">
		<div class="btn-group" role="group">
			<a href ="/"><button type="button" class="btn btn-primary fancy">Home</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="http://borglings.tumblr.com"><button type="button" class="btn btn-primary fancy">Tumblr</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="/constitution"><button type="button" class="btn btn-primary fancy">Constitution</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="/aboutus"><button type="button" class="btn btn-primary fancy">About Us</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="/bookreviews"><button type="button" class="btn btn-primary fancy">Book Reviews</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="/events"><button type="button" class="btn btn-primary fancy">Events</button></a>
		</div>
	</div>
	<br>
	<div class="jumbotron center">
		<h1><div class="label label-danger fancytitle" style="font-size: 90%">BORG</div></h1>
		<br>
		<h2><div class="label label-danger fancytitle" style="font-size: 90%">Brandeis Official Readers' Guild</div></h2>
	</div>
</div>

<!--Book Reviews-->
<div class="container">
	<div class="column fancy">
		<h3><div class="label label-success fancybutton" style="font-size: 100%;">Book Reviews</div></h3>
		<br>
		<% @reviews.each do |review| %>
			<div class="panel panel-danger">
				<div class="panel-body">
					<div style="font-size: 155%;" class="label label-default fancybutton"><%=review.title%></div>
					<img align="right" src=<%= review.picture%> height="140px" width="140px" alt=<%=review.title%> class="img-circle">
					<br>
					<hr>
					<p><h4 class="label label-info fancybutton tinybutton">Review Date</h4> <%=review.revdate%></p>
					<p><%=review.description[0..350]%>...</p>
					<!--Expanded Text Box Button-->
					<button type="button" class="btn btn-primary fancybutton" data-toggle="modal" data-target=<%review.id%>>
						More...
					</button>
				</div>
			</div>
		<% end %>
	</div>
</div>
<br>

<!--Expanded Text Box. Code based off of Bootstrap's Javascript Tutorial. Creates an expanded textbox for each review, identified by that review's id.-->
<% @reviews.each do |review| %>
	<div class="modal fade" id=<%review.id%> role="dialog" aria-labelledby="expandedReviewLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content fancy">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title label label-default fancybutton" id="expandedReviewLabel"><%=review.title%></h4>
				</div>
				<div class="modal-body">
					<p><h4 class="label label-info fancybutton tinybutton">Author(s)</h4> <%=review.author%></p>
					<p><h4 class="label label-info fancybutton tinybutton">Review Date</h4> <%=review.revdate%></p>
					<p><h4 class="label label-info fancybutton tinybutton">Publication Date</h4> <%=review.pubdate%></p>
					<p><%=review.description%></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
<% end %>
				
<!--Contact Information For The Website Creator-->
<div class="bottomcredit">Website created by Martin Silberberg. Contact me at silbmaerto@aol.com. Last Modified In 2015.</div>
</body>
</html>