<!DOCTYPE html>
<html lang="en">
<head>
	<title>Brandeis Official Readers' Guild (BORG)</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/bootstrap.min.css">
	<link rel="stylesheet" href="/borgsite.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
	<div class="btn-group btn-group-justified" role="group" aria-label="topbar">
		<div class="btn-group" role="group">
			<a href ="/"><button type="button" class="btn btn-primary fancy">Home</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="/tumblr"><button type="button" class="btn btn-primary fancy">Tumblr</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="/constitution"><button type="button" class="btn btn-primary fancy">Constitution</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="/aboutus"><button type="button" class="btn btn-primary fancy">About Us</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="/bookreviews"><button type="button" class="btn btn-primary fancy">Book Reviews</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="/events"><button type="button" class="btn btn-primary fancy">Events</button></a>
		</div>
	</div>
	<br>
	
	<div class="jumbotron center">
		<h1><div class="label label-danger fancytitle" style="font-size: 90%">BORG</div></h1>
		<br>
		<h2><div class="label label-danger fancytitle" style="font-size: 90%">Brandeis Official Readers' Guild</div></h2>
	</div>
</div>


<!--A list of the latest 10 posts-->
<div class="container">
	<div class=" column fancy">
		<h3><div class="label label-success fancybutton" style="font-size: 110%">BORG Tumblr</div></h3>
		<h3><div class="label label-primary fancybutton" style="font-size: 100%"><%=@blog_title%></div></h3>
		<br>
		<% @posts.each do |p| %>
			<div class="panel panel-danger listing">
				<div class="panel-body">
					<a href = "<%=p['post_url']%>" >
						<div style="font-size: 155%;" class="label label-default fancybutton"><%=p["title"]%></div>
					</a>
					<hr>
					<p><h4 class="label label-info fancybutton tinybutton">Date</h4> <%=p["date"]%></p>
					<% if p["body"] != nil %>
						<p><hr><%=p["body"][0..500]%><hr></p>
					<% end %>
					<p><h4 class="label label-primary fancybutton tinybutton"><a href = "<%=p['post_url']%>" style="color: white">More...</a></h4>
						<a href = "<%=p['post_url']%>"><%=p["post_url"]%></a>
					</p>
				</div>
			</div>
		<% end %>
		<div class="center">
			<a href="http://borglings.tumblr.com">
			<button type="submit" class="btn btn-danger fancybutton" style="font-size: 140%">Click Here For More Posts</button>
			</a>
		</div>
		<br>
	</div>
</div>
<br>

<!--Contact Information For The Website Creator-->
<div class="bottomcredit">Website created by Martin Silberberg. Contact me at silbmaerto@aol.com. Last Modified In 2015.</div>
</body>
</html>
